<div id="versions">
  <h3>{{ _('Versions') }}</h3>
  <ul>
    <li>
      {{ _('This version: ') }}{{version}}
    </li>
    <li>
      <a href="https://datadrivendiscovery.org/" class="reference external">{{ _('Other versions') }}</a>
    </li>
  </ul>
</div>
